<div class="card">
    <div class="card-header">
        <button mat-button class="header-button" (click)="navigateToPossibleInfections()">
            <mat-icon class="button-icon">warning</mat-icon>
            <span class="button-label">POSSIBLE INFECTIONS</span>
        </button>
    </div>

    <div class="card-body">
        <div class="filter-bar">
            <mat-icon class="filter-bar-icon">search</mat-icon>

            <form class="filter-bar-form" [formGroup]="clientVisitsFiltersFormGroup">
                <mat-form-field>
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="dp" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
            </form>
        </div>

        <div class="table-title">
            Places visited by {{ clientDTO==null ? "" : clientDTO.first_name }} {{ clientDTO==null ? "" : clientDTO.last_name }}, ID = {{ clientDTO==null ? "" : clientDTO.id_no }}
        </div>

        <div>
            <table mat-table matSort [dataSource]="visitsToVenuesDatasource">
                <ng-container matColumnDef="NFC_ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NFC ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.NFC_ID}} </td>
                </ng-container>

                <ng-container matColumnDef="venue_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Venue ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.venue_id}} </td>
                </ng-container>

                <ng-container matColumnDef="venue_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Venue Name</th>
                    <td mat-cell *matCellDef="let row"> {{row.venue_name}} </td>
                </ng-container>

                <ng-container matColumnDef="venue_desc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Venue Description</th>
                    <td mat-cell *matCellDef="let row"> {{row.venue_desc}} </td>
                </ng-container>

                <ng-container matColumnDef="venue_floor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Venue Floor</th>
                    <td mat-cell *matCellDef="let row"> {{row.venue_floor}} </td>
                </ng-container>

                <ng-container matColumnDef="entry_datetime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Entry Date/Time</th>
                    <td mat-cell *matCellDef="let row"> {{ Auxiliary.getFormattedDate(row.entry_datetime) }} </td>
                </ng-container>

                <ng-container matColumnDef="exit_datetime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Exit Date/Time</th>
                    <td mat-cell *matCellDef="let row"> {{ Auxiliary.getFormattedDate(row.exit_datetime) }} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row class="hoverable-table-row" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 50, 100]" (page)="updateTable()"></mat-paginator>
        </div>
    </div>
</div>
