<div class="card">
    <div class="card-header">
    </div>

    <div class="card-body">
        <div class="filter-bar">
            <mat-icon class="filter-bar-icon">search</mat-icon>

            <form class="filter-bar-form" [formGroup]="clientFiltersFormGroup">
                <mat-form-field>
                    <input matInput formControlName="firstName" placeholder="First Name" (keyup.enter)="updateTable()">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="lastName" placeholder="Last Name" (keyup.enter)="updateTable()">
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="idNo" placeholder="ID No" (keyup.enter)="updateTable()">
                </mat-form-field>
            </form>
        </div>

        <div>
            <table mat-table matSort [dataSource]="clientsDatasource">
                <ng-container matColumnDef="NFC_ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>NFC ID</th>
                    <td mat-cell *matCellDef="let row"> {{row.NFC_ID}} </td>
                </ng-container>

                <ng-container matColumnDef="first_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
                    <td mat-cell *matCellDef="let row"> {{row.first_name}} </td>
                </ng-container>

                <ng-container matColumnDef="last_name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                    <td mat-cell *matCellDef="let row"> {{row.last_name}} </td>
                </ng-container>

                <ng-container matColumnDef="id_no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID No</th>
                    <td mat-cell *matCellDef="let row"> {{row.id_no}} </td>
                </ng-container>

                <ng-container matColumnDef="emails">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Emails</th>
                    <td mat-cell *matCellDef="let row"> {{ row.emails }} </td>
                </ng-container>

                <ng-container matColumnDef="phones">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Phones</th>
                    <td mat-cell *matCellDef="let row"> {{ row.phones }} </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row class="hoverable-table-row" *matRowDef="let row; columns: displayedColumns;" (click)="navigateToClientVisits(row)"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[10, 50, 100]" (page)="updateTable()"></mat-paginator>
        </div>
    </div>
</div>
